/* Test */
.new-nav {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9999;
  transition: all 300ms ease-in-out;
}

.scroll-down .new-nav {
  transform: translateY(-100%);
}

.scroll-up .new-nav {
  transform: translateY(0);
}

.menu-is-open {
  overflow: hidden;
}

.menu-is-open .new-nav {
  filter: none;
}
